# git files
.git/

# husky scripts
.husky/

# dependencies
node_modules/

# source code
src/

# testing data
data/

# testing files
test/

# backup files
*.bak

# vim swap files
*.sw[nop]

# configuration files
.gitattributes
.editorconfig
.eslintrc.js
commitlint.config.js
tsconfig.json

# ignore lists
.gitignore
.npmignore

# to reduce the final package size
package-lock.json
