# git files
.git/

# husky scripts
.husky/

# source code
src/

# testing data
data/

# testing files
test/

# backup files
*.bak

# vim swap files
*.sw[nop]

# configuration files
tsconfig.json
.eslintrc.js
commitlint.config.js
.editorconfig
.gitattributes

# ignore lists
.gitignore
.npmignore

# to reduce the final package size
package-lock.json
